<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Reset your password</title>
</head>
<body>
    <h2>Reset your password</h2>
    <form action="/api/email/reset-password/{{token}}" method="post">
        <label for="new_password_1">New Password:</label>
        <input type="password" id="new_password_1" name="new_password_1" required>
        <br>
        <label for="new_password_2">Confirm New Password:</label>
        <input type="password" id="new_password_2" name="new_password_2" required>
        <br>
        <input type="submit" value="Reset Password">
    </form>
</body>
</html>
